<p>Form</p>
<div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="user.email" name="email" required/>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="user.name" name="name" required/>
      </div>
      <div class="form-group">
        <label for="bio">Bio:</label>
        <input [(ngModel)]="user.bio" name="bio" #name="ngModel" required/>
      </div>
      <div class class="form-group">
        <label for="active">Active:</label>
        <select [(ngModel)]="user.active" name="active" #name="ngModel" type="checkbox" required>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      </div>
        <br>
        <button type="submit" [disabled]="userForm.invalid">Submit</button>
    </form>
</div>
